{{#if this}}
<div class="li-post">
	<form class="comment-form">
		<div class="form-comment">
			<textarea name="comment-body" class="form-comment-input"></textarea>
		</div>

		<div>
			<button type="submit" class="center">add comment</button>
		</div>
	</form>
</div>
{{/if}}

