<div class="li-post">
	{{> post-info post }}
	<hr>

	<div class="content">
	{{post.content}}
	</div>
</div>
	
{{> comment-form loggedIn}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}