<div class="li-post">
	{{> post-info post }}
	<hr>

	<div class="content">
	{{post.content}}
	</div>
</div>
	
<div class="li-post">
	{{#if loggedIn}}
	<form class="comment-form">
		<div class="form-comment">
			<textarea name="comment-body" class="form-comment-input"></textarea>
		</div>

		<div>
			<button type="submit" class="center">add comment</button>
		</div>
	</form>
	{{/if}}
</div>

<div class="li-post">
	{{> comments post.comments}}
</div>

{{#if loggedIn}}
<script src="/js/comment.js"></script>
{{/if}}